*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}
h5,h6{
    font-family: 'Fredoka';
}
p{
    font-family: 'Nunito';
}
li{
    font-family:  'Open Sans';
}
header{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    padding: 20px 15px;
    border-bottom: 1px solid #464242;
   
}
.leftside{
    display: flex;
}
.nav-form{
    display: flex;
    margin-left: 50px;
}
.nav-form input{ 
    width: 400px;
    height: 40px;
}

.search-input{
    
    margin-right: 10px;

}
.search-input::placeholder{
    font-size: 14px;
    line-height: 19px;
   
}
.nav-form img{
    margin-top: 5px;
   
}

.search-img{
    width: 24px;
    height: 24px
    
    
     
}
.sidebar-button{
    width: 60px;
    height: 40px;
    
}
.rightside{
    display: flex;
}
.upload{
    padding: 20px 30px;
    font-size: 14px;
    line-height: 19px;
    margin-left: 30px;
}
.upload:hover{
    color: white;
    background-color: #FF2288;
    border-radius: 12px;
}
.index{
    width: 24px;
   height: 24px;
   margin-left: 30px;
  
   padding: 16px;
  
}
.ball{
    width: 24px;
    height: 24px;
    margin-left: 30px;
    margin-top: 20PX;
}
.massage{
    width: 24px;
    height: 24px;
    margin-left: 30px;
    margin-top: 20PX;
}
.navbar-r-p{
    font-size: 14px;
    line-height: 19px;
    margin-top: 20PX;
}
.navbar-r-p:hover{
    color: #FF2288;
}





.side-title{
    color: white;
    font-size: 24px;
    line-height: 32px;
    margin-left: 30px;
    
}
.sidebar-p{
    color: white;
}
.sidebar-ul {
    margin-top: 70px;
   
}
.sidebar-ul li{
    width: 250px;
    height: 60px;
    padding-left: 30px;
    padding-top: 10px;
   
}
.sidebar-img{
    width: 24px;
height: 24px;
   margin-right: 15px;
   margin-bottom: 30px;
   position: relative;
}


.sidelist{
    display: flex;
   justify-items: center;
}
.sidelist:hover{
    background-color: #FF2288;
    border-radius: 12px;
}
.follow{
    color: white;
    font-size: 12px;
    line-height: 16px;
    margin-left: 60px;
    margin-top: 50px;
    
}
.sidebar-bottom-ul{
    margin-top: 30px;
}

.sidebar-bottom-li{
    display: flex;
    width: 250px;
    height: 60px;
    padding-left: 30px;
    padding-top: 10px;
   
}
.sidebar-bottom-li:hover{
 background-color: #FF2288;
    border-radius: 12px;
}

.sidebar-bottom-img{
    width: 44px;
    height: 44px; 
    margin-right: 20px;
    margin-bottom:20px ;

}
.sidebar-bottom-p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    margin-top: 10px;
    
}
.sidebar-last-title{
    color: white;
    font-size: 14px;
    line-height: 19px;
    margin-top: 20px;
    margin-left: 50px;
}
.conteiner{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}
table{
    width: 1200px;
    width: 100%;
    margin: 0 auto;
}
th{
    text-align: left;
    height: 72px;
    font-size: 18px;
    line-height: 24px;
    color: #111111;
}
tr{
    height: 80px;
    border-bottom: 2px solid #030303;
}
td{
    height: 72px;
    font-size: 16px;
    line-height: 21px;
    color: #AFAFAF;
    border-bottom: 2px solid #030303;
}

tr:hover{
background-color: #F2F2F2;
border-radius: 12px;
}
td:hover{
    color: #FF2288;
}

.footer-section {
    display:grid ;
    grid-template-columns: 25% 25% 25% 25%;
}

.footer-title{
    font-size: 16px;
    line-height: 21px;
    color: #222222;
    margin-bottom: 35px;
    margin-top: 120px;
}
.footer-ul li {
    font-size: 16px;
    line-height: 40px;
    color: #222222;
   
}
.footer-sec-2{
    display: flex;
    justify-content: space-between;
}
.icons img{
    width: 24px;
    height: 24px;
    margin-right: 20px;
   
}